[Unit]
Description=runit-vm daemon

[Service]
Type=simple
EnvironmentFile=-/etc/runit-vm/conf
EnvironmentFile=-%h/.config/runit-vm/conf
EnvironmentFile=-%E/runit-vm/conf
PassEnvironment=VMDIR
ExecStart=/bin/sh -c "exec runsvdir ${VMDIR:=%h/.local/vms}"
KillMode=mixed

[Install]
WantedBy=default.target
